@use '../abstracts/variables' as v;

:root {
    /* Palette de couleurs */
    --color-text-primary: #{v.$color-text-primary};
    --color-text-normal: #{v.$color-text-normal};
    --color-text-secondary: #{v.$color-text-secondary};

    --color-bg: #{v.$color-bg};
    --color-bg-2: #{v.$color-bg-2};
    --color-border: #{v.$color-border};
    --color-border-2: #{v.$color-border-2};

    --color-primary: #{v.$color-primary};
    --color-primary-hover: #{v.$color-primary-hover};
    --color-accent: #{v.$color-accent};
    --color-error: #{v.$color-error};

    --color-scene-lac: #{v.$color-scene-lac};
    --color-scene-forest: #{v.$color-scene-forest};
    --color-scene-kiosk: #{v.$color-scene-kiosk};
}