$size-title:56px;
$weight-title:800;
$line-height-title:64px;

$size-section:40px;
$weight-section:700;
$line-height-section:48px;

$size-st:28px;
$weight-st:700;
$line-height-st:36px;

$size-text-intro:20px;
$weight-text-intro:400;
$line-height-text-intro:32px;

$size-text:16px;
$weight-text:400;
$line-height-text:26px;

$size-text-small:14px;
$weight-text-small:400;
$line-height-text-small:22px;