@use '../abstracts/variables' as v;

:root {
  /* Tailles de police */
    --font-size-title: #{v.$size-title};
    --font-size-section: #{v.$size-section};
    --font-size-st: #{v.$size-st};
    --font-size-text-intro: #{v.$size-text-intro};
    --font-size-text: #{v.$size-text};
    --font-size-text-small: #{v.$size-text-small};

  /* Graisses (Font weights) */
    --font-weight-title: #{v.$weight-title};
    --font-weight-section: #{v.$weight-section};
    --font-weight-st: #{v.$weight-st};
    --font-weight-text-intro: #{v.$weight-text-intro};
    --font-weight-text: #{v.$weight-text};
    --font-weight-text-small: #{v.$weight-text-small};

  /* Hauteurs de ligne (Line heights) */
    --line-height-title: #{v.$line-height-title};
    --line-height-section: #{v.$line-height-section};
    --line-height-st: #{v.$line-height-st};
    --line-height-text-intro: #{v.$line-height-text-intro};
    --line-height-text: #{v.$line-height-text};
    --line-height-text-small: #{v.$line-height-text-small};
}